.tong{
    text-align: center !important;
    padding-top: 15% !important;
}
.duoi{
    text-align: center !important;
}
.tren h1{
    color: #FF8C00 !important;
}
.button{
    color: white !important;
}