/* .image img{
    overflow: hidden;
    display: block;
}
.image img:hover{
    transform: scale(1.3);
    transition: 1s;
} */

.image img{
	display:block;
	transition: all .3s ease;
}
.image img:hover{
	transform: scale(1.3); /* cỡ zoom khi di chuột vào */
} 
.image{
	display:block;
	overflow: hidden;
}